<h1>User#edit</h1>
<p>Find me in app/views/user/edit.html.erb</p>




<div><%= form_for(:user, :url => {:action => 'update'}) do |f| %>

  <%#= render 'shared/error_messages' %>

  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %>


  <%= f.submit 'Edit', class: "btn btn-primary" %>
  <% end %>

</div>
