  <h1>
 <div class="login_logo">
      <br>
    <%= image_tag('medium/loginlogo.jpg')  %>
    <br>
<%= link_to image_tag('medium/login.jpg'), {:action => 'login'}  %>
<br>
<br>
<%= link_to image_tag('medium/register.jpg'), {:action => 'register'}  %>
    

</div>
  </h1>

