// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Additional CSS file
Built by David Stringfield for ELEC3609
*/
.page-header {
	height: 132px;
}

.headright {
	padding-right: 0 !important;
	margin-right: 0 !important;
	float: right;
}

.navbar {
	border: none;
	background-color: #FFFFFF;
}

.listing-image {
	max-width: 200px;
	max-height: 200px;
}

.panel-column {
	min-height: 200px;
}

.listing-info{

}

.listing-bottom{
	position: absolute;
    bottom: 0;
    right: 0;
}

.panel-body-listing{

}
.page-container {
	margin: 0 auto;
	width: 40%;
	clear: both;
} 

.header-button, .header-button:visited {
	position: relative;
  	background-color: #F5F5D3;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.avatar-small {
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

.photo {
	width: 128px;
	height: 128px;
	border: 1px solid #808080;
}

.new-listing-button, .newlisting-button:visited {
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #5DBCD2;
	font-weight: bold;
}

.header-button:hover, .new-listing-button:hover {
	background-color: #71c4d8;
}

/*Additional CSS for small format screens*/
@media (max-width: 767px) {
    .page-container {
     	padding: 0;
     	margin: 0 10px;
     	width: 100%;
    }
}

.new-listing {
	margin: 0 auto;
	width: 80%;
}

/*Layout for new listing*/
#new-listing-table {
	margin-bottom: 10px;
}
