// Place all the styles related to the UserProfile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
	width: 30%;
}

.user-info {
	background-color: #EBEBEB;
	margin: 0 auto;
	padding: 18px;
	border-radius: 25px;
}

.row div:first-child {
	font-weight: bold;
}

.edit-profile-button, .edit-profile-button:visited {
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: #5DBCD2;
}

.edit-profile-button:hover {
	background-color: #71c4d8;
}

@media (max-width: 767px) {
    .container-fluid {
     	padding: 0;
     	margin: 0 10px;
     	width: 100%;
    }
}

